*.swp
*.key
scottnotes.md
notes.md
notes_notifications.md
server_notes.md
notes_mongoservererror.txt
.httr-oauth
mongo_initial_setup_notes.md
Caddyfile
notes_web_interface.md
notifications.R
sqlnotes.txt
backup_restore.sh
notes-sqldbstuff.txt
cache-history-manual.sh
history-manual.rb
sql_fixes.sql
